
.static{
    position: static;  /*  varsayilan bu!!! */
    border: 3px solid teal;

}

.relative{  /*relative (-e göre ) yani kendine göre  konumu*/
    position: relative;
    border: 3px dotted cyan;
    top: 20px;
    left: 20px;
}

.fixed{  /*sayfa kaydirilsa bile icerik ayni yerde kaliyor */
    position: fixed;
    border: 3px double greenyellow;
    top: 380px;
    left: 30px;

}

.absolute{ /*parentdan devraldigi seye göre sekil alir*/
    position: absolute;
    border: 3px dashed blue;
    top: 60px;
    right: 0px;
    width: 120px;
    height: 70px;

}

.relative2{
    position: relative;
    border: 3px dashed orangered;
    width: 300px;
    height: 200px;

}
.sticky{ /*parenta bagliysa ki bagli olmali parent bittiginde sayfada scroll ederken parent bittiginde sticky de kaybolur. anne baba nereye sticky oraya, genellikle parenta dahil edilmeli edilmezse body yi parent olarak kabul eder*/
    position: sticky;
    top: 10px;
    padding: 7px;
    background-color: burlywood;
    border: 3px solid coral;
}