div {
  float: left;
}
@mixin container($color, $height) {
  width: 100px;
  height: 100px;
  background-color: $color;
  margin: 15px;
  height: $height;
}
.box {
  width: 100px;
  height: 100px;
  background-color: lawngreen;
  margin: 15px;
  border-radius: 20px*2; /*matematik islemlerini burada uygulayabiliriz!*/
  
}
#first {
  @include container(red, 100px);
}
#second {
  @include container(green, 200px);
}
#third {
  @include container(orange, 300px);
}
// extend de tek yapi olusturuluyor...
#a1{
    @extend .box;
}
#b2{
    @extend .box;
}
#c3{
    @extend .box;
}