#container{
    display: grid;
    grid-template-rows: 100px 500px 100px;
    /* grid-template-columns: 1fr 3fr 1fr; */
    grid-template-columns: 100px 300px 100px;
    grid-template-areas:
    "header header header"
    "sidebar main section"
    "footer footer footer";
    grid-gap: 5px;
    /* grid-auto-flow: column; */
    justify-content: center; 
    /* flex komutlari gridde kullanilabiliyor */
 
    
}
.content{
    background-color: indianred;
    border: 3px solid black;

}
.content1{
    grid-area: header;
}
.content7{
    grid-area: sidebar;
}

.content2{
    grid-area: main;
}
.content3{
    grid-area: section ;
}
.content4{
    grid-area: footer;
}