#container{
    display: grid;
    grid-template-columns: 200px 500px 200px 100px;
    grid-template-rows: 100px 400px;
    /* grid-column-gap: 10px; 
    sütün arasi bosluk

    grid-row-gap: 20px;
    satir arasi boslik */

    grid-gap: 30px 5px;

}

.content{
    background-color: rgb(15, 218, 207);
    border: 1px solid black;
}